  <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content ">
          <!-- START CONTAINER FLUID -->
          <div class=" container-fluid   container-fixed-lg">
            <!-- START BREADCRUMB -->
 <div class="row">
              <div class="col-xl-5 col-lg-8 ">
                <!-- START card -->
                <div class="card card-transparent">
                  <div class="card-header ">
                    <div class="card-title">
                    </div>
                  </div>
                  <div class="card-block">
                    <h3> <b>Investment Property Analysis</b> <br>
             Analyse your Cash flow, tax benefits, yield and Equity</h3>
                    <p>If you like it, let us know and we'll build more 😉
                      <br> </p>
                    <br>
                    
                  </div>
                </div>
                
              </div>
              <div class="col-xl-7 col-lg-5">
                
                <!-- START card -->
                <div class="card card-transparent">
                  <div class="card-block">
                    <form id="form-personal" role="form" autocomplete="off">
                      <div class="row clearfix">
                        <div class="col-md-12">
                          <div class="form-group form-group-default required">
                            <label>Property Value</label>
                            <input type="text" class="form-control" name="firstName" required>
                          </div>
                        </div>
                      </div>
                        <div class="row">
                        <div class="col-md-12">
                          <div class="form-group form-group-default">
                            <label>Loan Amount</label>
                            <input type="text" class="form-control" name="lastName" required>
                          </div>
                        </div>
                      </div>
                      <div class="row clearfix">
                        <div class="col-md-6">
                          <div class="form-group form-group-default input-group">
                            <div class="form-input-group">
                              <label>Interest Rate</label>
                              <input type="text" class="form-control" name="username" placeholder="3.99" required>
                            </div>
                            <div class="input-group-addon d-flex ">
                              %
                            </div>
                            </div>
                          </div>

                            <div class="col-md-6">
                          <div class="form-group form-group-default input-group">
                            <div class="form-input-group">
                              <label>Capital Growth</label>
                              <input type="text" class="form-control" placeholder="3.00" required>
                            </div>
                            <div class="input-group-addon d-flex ">
                              %
                            </div>
                          </div>
                      </div>
                          </div>
                     <div class="row">
                        <div class="col-md-12">
                          <div class="form-group form-group-default input-group">
                            <div class="form-input-group">
                              <label>Your Taxable Income</label>
                              <input type="text" class="form-control" placeholder="$75,000" required>
                            </div>
                            <div class="input-group-addon d-flex ">
                              p/a
                            </div>
                          </div>
                        </div>
                    
                    </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group form-group-default input-group">
                            <div class="form-input-group">
                              <label>Proposed Rent</label>
                              <input type="text" class="form-control" name="username" placeholder="400" required>
                            </div>
                            <div class="input-group-addon d-flex ">
                              p/w
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                    </div>
                      <p class="pull-right">
                        I agree to the <a href="#">Terms</a> and <a href="#">Privacy</a>.
                      </p>
                     
                      <div class="clearfix"></div><p class="pull-right">
                     <a href ="/results"><button class="btn btn-primary" type="submit"><b>Analyse Property</b></button></a>
                    </form>
                  </div>
                </div>
                <!-- END card -->
                <!-- END card -->
              </div>
            </div>
          </div>
        </div>
      </div>